<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  
    <link href="~/Content/HomeAdmin/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/HomeAdmin/all.min.css" rel="stylesheet" />
    <link href="~/Content/Home/fontawesome/js/all.css" rel="stylesheet" />
</head>
<body>
    <!-- HEADER =============================-->
    <header class="item header margin-top-0">
        <div class="wrapper">
            <nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header" style="height: 100px;">
                        <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                            <i class="fa fa-bars"></i>
                            <span class="sr-only">Toggle navigation</span>

                        </button>
                        <!--  lOGO -->
                        <a href="#" class="navbar-brand brand"> <img src="~/Image/logo.png" width="110" height="110" style="margin-top: -23px;" /> </a>



                        <ul class="nav-list-3">
                            <li>
                                <a href='@Url.Action("Requist", "Requist")' title="Requists">
                                    <svg class="bi" fill="currentColor" viewBox="0 0 512 512" style="height: 60px;width: 60px;">
                                        <path d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z" />
                                    </svg>
                                </a>
                            </li>

                        </ul>
                        <button class="bu"> SERACH </button>
                        <input type="search" class="in">
                    </div>
                    <div id="navbar-collapse-02" class="collapse navbar-collapse">
                        <ul class="nav-list-2">
                            <li>
                                <a href='@Url.Action("UpdateAccount", "Account")'>
                                    <svg class="bi" fill="currentColor" viewBox="0 0 448 512" style="height: 50px;width: 50px;">
                                        <path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z" />
                                    </svg>
                                </a>
                            </li>

                            <li>
                                <a href='@Url.Action("RegisterUser", "Account")' title="LogOut">
                                    <svg class="bi" fill="currentColor" viewBox="0 0 512 512" style="height: 50px;width: 50px; margin-right: 50px;">
                                        <path d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <input type="checkbox" id="product-toggle">
                    <label class="product-wrapper-1" for="product-toggle">
                        <span class="product-1"></span>
                    </label>
                    <nav class="navbar-1">
                        <ul class="nav-list-1">
                            <li>
                                <a href='@Url.Action("UpdateAccount", "Account")'>
                                    <svg class="bi" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512">
                                        <path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z" />
                                    </svg>Account Sittings
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("My_Buy", "Bays",new {@id=Model.Idu })'>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-layers-fill" viewBox="0 0 16 16">
                                        <path d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z" />
                                        <path d="m2.125 8.567-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l-5.17-2.756z" />
                                    </svg>All Sales
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("ConrolPanelD", "ConrolPanelD")'>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-fill" viewBox="0 0 16 16">
                                        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z" />
                                    </svg> Control Panal
                                </a>
                            </li>


                        </ul>
                    </nav>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="text-pageheader">
                            <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.1s">
                                Magenta Store
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>

    <div class="footer text-center">
        <div class="container">
            <div class="row">
                <p class="footernote">
                    Connect with Magenta
                </p>
                <ul class="social-iconsfooter">
                    <li><a href="#"><i class="fa fa-phone" style="margin-top:25px;"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f" style="margin-top:25px;"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter" style="margin-top:25px;"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g" style="margin-top:25px;"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest-p" style="margin-top:25px;"></i></a></li>
                </ul>
                <p>
                    &copy; 2021 Magenta<br />
                    <!-- Button trigger modal -->


                </p>
            </div>
        </div>
    </div>
    <script src="~/Scripts/HomeDealer/jquery-.js"></script>
    <script src="~/Scripts/HomeDealer/bootstrap.min.js"></script>
</body>
</html>
